* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

body {
  background-color: #f0f1f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100vw;
  min-height: 100dvh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  width: 750px;
  width: 65%;
}

.title {
  margin: 10px;
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 60px;
}

.msg {
  position: absolute;
  top: 80px;
  height: 45px;
  min-width: 400px;
  background-color: #6c63ff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.deleteMsg {
  position: absolute;
  top: 80px;
  height: 45px;
  min-width: 400px;
  background-color: #6c63ff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 2;
}

.deleteMsg .deletionBtns {
  background-color: #ffffff;
  color: #6c63ff;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.deleteMsg .btns {
  gap: 15px;
}

.topContainer {
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c63ff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  gap: 25px;
  z-index: 1;
  max-width: 400px;
  width: 95%;
  height: 45px;
}

.stats {
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer, .searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.inputContainer {
  margin-top: 20px;
}

.searchContainer {
  margin-top: 20px;
}

.moreFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.moreFilter button {
  background-color: #ffffff;
  color: black;
  height: 42px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.moreFilter button.active {
  background-color: #6c63ff;
  color: #ffffff;
}

.inputContainer input, .searchBar {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.searchBtn {
  height: 42px;
  width: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #6c63ff;
  color: #ffffff;
  border: 1px solid #6c63ff;
  transition: all 0.2s ease;
}

.addTask {
  height: 45px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #6c63ff;
  color: #ffffff;
  border: 1px solid #6c63ff;
  transition: all 0.2s ease;
}

.list {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

li {
  background-color: #dbdada;
  border: 1px solid #bfbfbf;
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edited {
  border: 1px solid #4a90e2;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5px;
  margin: 5px 0px;
}

.deleteTask,
.editTask,
.check,
.incomplete {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ff6b6b;
  margin: 2px;
  transition: all 0.2s ease;
}

.editTask {
  background-color: #4a90e2;
}

.check {
  background-color: green;
}

.incomplete {
  background-color: #4a90e2;
}

@media screen and (max-width: 800px) {
  #root {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  #root {
    width: 500px;
  }
  .deleteTask,
  .editTask,
  .check,
  .incomplete {
    height: 35px;
    width: 35px;
    font-size: 0.8rem;
  }
  .msg {
    position: absolute;
    top: 80px;
    height: 45px;
    min-width: 0px;
    width: 95%;
  }
  .moreFilter {
    gap: 20px;
  }
  .topContainer {
    max-width: none;
  }
}

@media screen and (max-width: 520px) {
  #root {
    width: 400px;
  }

  .deleteTask,
  .editTask,
  .check,
  .incomplete {
    height: 40px;
    width: 40px;
    font-size: 1rem;
  }
  
  ul {
    margin-top: 10px;
  }
  
  li {
    margin: 7px;
    padding: 7px;
    flex-direction: column;
    font-size: 1.1rem;
  }

  .btns {
    gap: 5px;
    margin: 10px 0px;
    margin-bottom: 0px;
  }

  .deleteMsg {
    height: 45px;
    gap: 10px;
    z-index: 2;
    width: 95%;
    min-width: 0px;
  }

  .deleteMsg .btns {
    gap: 10px;
    margin: 0px;
  }

  .deleteMsg .btns button {
    width: 50px;
  }
}

@media screen and (max-width: 420px) {
  #root {
    width: 100%;
    margin: 0 15px;
  }

  li {
    font-size: 1.1rem;
  }
}
